@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../font/4ics6kvjbnbylgokfw7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url(../font/4icv6kvjbnbylgocjc3jsgyi.ttf) format('truetype');
}
